<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Simple CRUD app to create, read, update and delete notes from database made with NodeJS and MongoDB.</p>
    <hr class="my-4">
    <p class="text-justify">This app was created by Alexis Toledo using nodeJS and some of its modules: express, express-handlebars as a Template Engine, express-session, method-override, mongoose, nodemon, passport, passport-local, bcryptjs and connect-flash. I used Bootstrap 4 as a FrontEnd Framework and MongoDB as database engine. This is an example of a simple notes application that i am making to improve my skills as a full stack developer.</p>
    <br>
    <a href="https://github.com/alexisjtoledo" class="btn btn-primary btn-lg align-center">Check out my GitHub Profile</a>   
</div>